.DS_store
_mount
backend/dist
backend/node_modules
backend/.env
frontend/dist
frontend/node_modules
frontend/.env
mobile/node_modules
mobile/vendor
mobile/ios/build
mobile/ios/Pods
mobile/ios/ClickstackMobile*